[Unit]
Description=peacekeeper Timers Service
PartOf=peacekeeper.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/var/www/peacekeeper/scripts/timers.php
Restart=on-failure
RestartSec=5

[Install]
WantedBy=peacekeeper.target
