[Unit]
Description=peacekeeper Target
Wants=peacekeeper-timers.service
Wants=peacekeeper-consumer@1.service
Wants=peacekeeper-consumer@2.service
Wants=peacekeeper-consumer@3.service
Wants=peacekeeper-consumer@4.service
After=network.target

[Install]
WantedBy=multi-user.target

